@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Big;
  src: url('../assets/fonts/The\ Bigger\ The\ Better.ttf');
  font-weight: 600;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Big'
}

:root {
  --primary-color: #fff;
  --secondary-color: #fff;
  --body-bg: linear-gradient(180deg, rgb(3, 4, 52) 0%, rgb(55, 38, 70));
  --text-color: #fff;
  --gray: #828282;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card {
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md;
}

.card img:hover {
  transform: scale(1.1);
  transition: 300ms;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: var(dark);
  }

  body {
    color: black;
    background: aliceblue;
  }
}