@font-face {
  font-family: Big;
  src: url('../assets/fonts/The\ Bigger\ The\ Better.ttf');
  font-weight: 600;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Big'
}

:root {
  --primary-color: #fff;
  --secondary-color: #fff;
  --body-bg: #fff;
  --text-color: #fff;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}